<html>
    <head>
        <link rel="stylesheet" href="/cart.css">
        <script src="/jQuery.js"></script>
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    </head>
    
    <body>
        <div class="cart-container">
            <div id="nav"></div>
            <script>
                $.get("/nav.html", function(data){
                    $("#nav").replaceWith(data).stop();
                });
            </script>
            
            <div class="content-container">
                <div class="cart-header">
                    <span class="cart-header-label">My Cart</span>
                </div>
                <div class="table-header">
                    <div class="product-pricing">
                        <div class="pricing-content">Duration </div>
                        <div class="pricing-content">Price</div>
                        <div class="pricing-content">Total Price</div>
                    </div>
                </div>
                <div class="product-container"></div>
                <div class="checkout-container">
                    <form action="/history/newHistory" method="POST">
                        <button type="submit" class="checkout" onclick="alert('Checkout Successful!')">Checkout</button>
                    </form>
                    <div class="subtotal"></div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function(){
                var userstr = '{{cartowner}}'
                var subtotal = 0
                {{#each items}}
                var borrower = '{{borrower}}'
                var title = '{{title}}'
                var link = '{{link}}'
                var release = '{{release}}'
                release = release.split('08:00:00')[0];
                var user = '{{user}}'
                var duration = '{{duration}}'
                var price = '{{price}}'
                var total = {{duration}} * {{price}}
                if(userstr === borrower){
                    subtotal = subtotal + total;
                    $('.product-container').append('<div class="product">' +
                                                        '<div class="product-info">' +
                                                            '<div class="img-container">' +
                                                                '<img class="product-img" src="' + link + '">' +
                                                            '</div>' +
                                                            '<div class="product-details">' +
                                                                '<div class="product-title">' + title + '</div>' +
                                                                '<div class="product-date">Released ' + release + '</div>' +
                                                                '<div class="product-owner">Owned by ' + user + '</div>' +
                                                            '</div>' +
                                                        '</div>' +
                                                        '<div class="product-pricing">' +
                                                            '<div class="pricing-content">' + duration + ' days</div>' +
                                                            '<div class="pricing-content">Php ' + price + '</div>' +
                                                            '<div class="pricing-content">Php ' + total + '</div>' +
                                                        '</div>' +
                                                    '</div>')
                }
                {{/each}}
                $('.subtotal').append('Subtotal: Php ' + subtotal);
            })
        </script>
    </body>
</html>