<html>
    <head>
        <link rel="stylesheet" href="/dashboard.css">
        <script src="/jQuery.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    </head>
    
    <body>
        <div class="dashboard-container">

            <div id="nav"></div>
            <script>
                $.get("/nav.html", function(data){
                    $("#nav").replaceWith(data).stop();
                });
            </script>
            
            <div class="content-container">                
                <div class="games-container">
<!---------------------------------------------------------MOST POPULAR--------------------------------------------------------->
                    <div class="header-title">
                        <div class="headers"><span>Most Popular</span></div>
                    </div>
                    <div class="popular-games">
                        
                        {{#each games}}
                            <div class="product">
                                <a href="/game/vg/{{_id}}"><img src="{{link}}" class="product-image"></a>
                                <div class="details">
                                    <div class="product-title">{{title}}</div>
                                    <div class="release-date">Released {{release}}</div>
                                    <a href="/game/vg/{{_id}}"><div class="rent-button">
                                    RENT</div></a>
                                </div>
                            </div>            
                        {{/each}}
                    </div>
<!--------------------------------------------------------RECENT RELEASES------------------------------------------------------>
                    <div class="header-title">
                        <div class="headers"><span>Recent Releases</span></div>
                    </div>
                    <div class="recent-releases">
                        {{#each games}}
                                <div class="product">
                                    <a href="/game/vg/{{_id}}"><img src="{{link}}" class="product-image"></a>
                                    <div class="details">
                                        <div class="product-title">{{title}}</div>
                                        <div class="release-date">Released {{release}}</div>
                                        <a href="/post/available"><div class="rent-button">
                                        RENT</div></a>
                                    </div>
                                </div>    
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>