<html>
    <head>
        <link rel="stylesheet" href="/dashboard.css">
        <script src="/jQuery.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    </head>
    
    <body>
        <div class="dashboard-container">

            <div id="nav"></div>
            <script>
                $.get("/nav.html", function(data){
                    $("#nav").replaceWith(data).stop();
                });
            </script>
            
            <div class="content-container">                
                <div class="games-container">
                    <div class="search-container">
                        <select class="search-type">
                            <option>Games</option>
                        </select>
                        <input type="text" class="search-bar" placeholder="Search..." value="">
                        <a class="search-button-click" href=""><div class="search-button"></div></a>
                    </div>
                    <div class="headers" id="search-results-label">Search Results</div>
                    <div class="search-results"></div>
<!---------------------------------------------------------MOST POPULAR--------------------------------------------------------->
                    <div class="header-title">
                        <div class="headers"><span>Most Popular</span></div>
                    </div>
                    <div class="popular-games">
                        
                        {{#each games}}
                            <div class="product">
                                <a href="/game/vg/{{_id}}"><img src="{{link}}" class="product-image"></a>
                                <div class="details">
                                    <div class="product-title">{{title}}</div>
                                    <div class="release-date">Released {{release}}</div>
                                    <a href="/game/vg/{{_id}}"><div class="rent-button">
                                    RENT</div></a>
                                </div>
                            </div>            
                        {{/each}}
                    </div>
<!--------------------------------------------------------RECENT RELEASES------------------------------------------------------>
                    <div class="header-title">
                        <div class="headers"><span>Recent Releases</span></div>
                    </div>
                    <div class="recent-releases">
                        {{#each games}}
                                <div class="product">
                                    <a href="/game/vg/{{_id}}"><img src="{{link}}" class="product-image"></a>
                                    <div class="details">
                                        <div class="product-title">{{title}}</div>
                                        <div class="release-date">Released {{release}}</div>
                                        <a href="/game/vg/{{_id}}"><div class="rent-button">
                                        RENT</div></a>
                                    </div>
                                </div>    
                        {{/each}}
                    </div>
                </div>
            </div>
            
            <script>
                function updateList(){
                    var searchTerm = $(".search-bar").val().toLowerCase();
                    $(".search-results").empty();
                    $("#search-results-label").css('visibility', 'visible');
                    {{#each games}}
                        if(searchTerm != "" && "{{title}}".toLowerCase().includes(searchTerm)){
                           $(".search-results").append('<div class="product">' +
                                                                '<a href="/game/vg/{{_id}}"><img src="{{link}}" class="product-image"></a>' +
                                                                '<div class="details">' +
                                                                    '<div class="product-title">{{title}}</div>' +
                                                                    '<div class="release-date">Released{{release}}</div>' +
                                                                    '<a href="/game/vg/{{_id}}""><div class="rent-button">RENT</div></a>' +
                                                                '</div>' +
                                                            '</div>').hide().show('fast');
                        }
                    {{/each}}
                    if(!$(".search-results").children().length){
                        $(".search-results").append('<div class = "noresult"> No results available. </div>').hide().show('fast');
                    }
                }
                $(".search-bar").on('keypress', function(e){
                    if(e.which == 13) updateList()
                });
                $(".search-button-click").on('click', function(e){
                    e.preventDefault()
                    updateList()
                })
            </script>
        </div>
    </body>
</html>