<html>
    <head>
        <link rel="stylesheet" href="/upload.css">
        <script src="/jQuery.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    </head>
    
    <body>
        <div class="checkout-container"> 
            
            <div id="nav"></div>
                 <script>
                    $.get("/nav.html", function(data){
                        $("#nav").replaceWith(data).stop();
                    });
                </script>
            
            <div class="main-body">
                <div class="checkout-header">
                    <span class="checkout-header-label">Edit Listing</span>
                </div>
                        <form action="edit-post" method="post">
                            <input type="hidden" name="id" value="{{post._id}}">
                            <div class="left-column">
                                <div class="input-section">
                                    <div class="input-field-container" id="titleError">
                                        <select class="dropdown-field" name="title">
                                            <option>{{post.title}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="input-section">
                                        <div class="item-label">Price</div>
                                        <span class="item-label">Php </span>
                                        <div class="input-field-container" id="priceError"><input class="price-field" type="number" name="price" min="1" value="{{post.price}}"></div>
                                        <span class="item-label"> /day</span>
                                </div>
                                
                                <div class="input-section">
                                    <div class="item-label">Condition</div>
                                    <div class="input-field-container" id="descriptionError"><textarea class="description-field" name="description">{{post.description}}</textarea></div>
                                </div>
                            </div>
                            
                            <div class="right-column">
                                <div class="input-section">
                                    <div class="item-label">Status</div>
                                    {{!-- <div class="item-display">Available</div> --}}
                                    <div class="input-field-container" id="titleError">
                                        <select id = "status-dropdown" class="dropdown-field" name="status">
                                            <option value= "Available">Available</option>
                                            <option value = "Rented">Rented</option>

                                        </select>
                                    </div>
                                    
                                </div>
                                
                                <div class="input-section">
                                    <div class="item-label">Region</div>
                                    <div class="item-display">{{user.region}}</div>
                                </div>
                                
                                <div class="input-section">
                                    <div class="item-label">Owner</div>
                                    <div class="item-display">{{user.firstName}} {{user.lastName}}</div>
                                </div>
                                
                            </div>
                            
                            <div class="checkout-button-container">
                                <input type="submit" value="Edit" class="upload">
                            </div>
                    </form>
            
            </div>
            <script>
                {{#each errors}}
                    $('#{{container-id}}Error').append('<span class="tooltip-text">' + '{{message}}' + '</span>');
                    $('[name="{{container-id}}"]').css({"border-bottom": "2px solid #fd8f4b"});
                {{/each}}
                {{#each savedinput}}
                    $('[name="{{container-id}}"]').val('{{content}}')
                {{/each}}

                function setSelectedIndex(s, valsearch){
                    for (i = 0; i< s.options.length; i++){ 
                        if (s.options[i].value == valsearch){
                            s.options[i].selected = true;
                            break;
                        }
                    }
                    return;
                }
                setSelectedIndex(document.getElementById("status-dropdown"),"{{post.status}}");
            </script>
        </div>
    </body>
</html>