<html>
    <head>
        <link rel="stylesheet" href="/loginscreen.css">
        <script src="/jQuery.js"></script>
    </head>
    
    <body>
        <div class="bg">
            <div id="nav-bar">
                <div class="logocontainer"><img src="/image/LOGO2.png" class="logo"></div>
            </div>
            
            <div class="login-container">
                <div class="login-header">
                    <span class="login-header-label">Welcome back!</span>
                </div>
                
                
                
                    <form action="login" method="post">
                        <div class="form-content">
                            <div class="input-section">
                                <div class="item-label">Email</div>
                                <div class="input-field-container" id="emailError"><input class="input-field" type="text" name="email"></div>
                            </div>

                            <div class="input-section">
                                <div class="item-label">Password</div>
                                <div class="input-field-container" id="passwordError"><input class="input-field" type="password" name="password"></div>
                            </div>

                            <div class="login-button-container">
                                <input type="submit" value="Login" class="subbutton login-button">
                            </div>
                        </div>
                    </form>
                
                <div class="register">
                    New to GameShare?
                    <a class="register-link" href="/">Sign up now!</a>
                </div>
            </div>
            <script>
                {{#each errors}}
                    $('#{{container-id}}Error').append('<span class="tooltip-text">' + '{{message}}' + '</span>');
                    $('input[name="{{container-id}}"]').css({"border-bottom": "2px solid #fd8f4b"});
                {{/each}}
                {{#each savedinput}}
                    $('input[name="{{container-id}}"]').val('{{content}}')
                {{/each}}
            </script>
        </div>
    </body>
</html>