<html>
    <head>
        <link rel="stylesheet" href="/profile.css">
        <script src="/jQuery.js"></script>
        {{!-- <meta charset="UTF-8"> --}}
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">      
    </head>
    
    <body>
        <div class="dashboard-container">
            
            <div id="nav"></div>
            <script>
                $.get("/nav.html", function(data){
                    $("#nav").replaceWith(data).stop();
                });
            </script>
            <div class="content-container">
                <div class="content">
                    <div class="user-details">
                        <div class="user">
                            <div class="username">{{newUser.firstName}} {{newUser.lastName}}</div>
                            <div class="location-container">
                                <div class="location-label">Region:</div>
                                <div class="location">{{newUser.region}}</div>
                            </div>
                            <div class="email-container">
                                <div class="email-label">Email:</div>
                                <div class="email">{{newUser.email}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="listing-container"> 
                        <ul class="listing-header">
                            <div class="listing-label">Listings</div>
                            <a href="/post/upload"><div class="listing-button">ADD LISTING</div></a>
                        </ul>
                        <div class="listing-items"></div>
                    </div>
                </div>
            </div>
            
            <script>
                $(document).ready(function(){
                    var selectedConsole = $("#select-console").val();
                    var selectedGenre = $("#select-genre").val();
                    $(".product").remove();
                    $(".noresult").remove();
                    var userstr = '{{newUser.email}}'
                    {{#each posts}}
                        var titlestr = '{{title}}';
                        var postimgid = 'id_' + titlestr.replace(/ /g, '');
                        if(userstr === '{{user}}'){
                           $(".listing-items").append('<div class="product">' +
                                                                '<div id = "' + postimgid + '"></div>' +
                                                                '<div class="details">' +
                                                                    '<div class="product-title">{{title}}</div>' +
                                                                    '<div class="release-date">Status: {{status}}</div>' +
                                                                    '<div class="release-date">Rating: {{rating}}</div>' +
                                                                    '<div class="release-date">Php {{price}}/day</div>' +
                                                                    '<div class = "buttons">'+
                                                                    '<form>' +
                                                                   '<button type ="submit" class="rent-button" ><div class="button">EDIT</div></button>' +
                                                                    '</form>' +
                                                                    '<form action="/post/deleteListing" method ="POST" onsubmit="return confirm(\'Are you sure you want to delete this listing?\')">' +
                                                                    '<input type= "hidden" value ="{{_id}}" name ="id">'+
                                                                    '<button type ="submit" class="rent-button"<div class="button">DELETE</div></button>' +
                                                                    '</form>' +
                                                                    '</div>'+
                                                                '</div>' +
                                                            '</div>').hide().show('fast');
                        }
                    {{/each}}
                    if(!$(".product").length){
                        $(".listing-items").append('<div class = "noresult"> No listings available. </div>').hide().show('fast');
                    }
                    else{
                        {{#each games}}
                            var titlestr = '{{title}}';
                            var gameimgid = 'id_' + titlestr.replace(/ /g, '');
                            $('[id="'+ gameimgid +'"]').append('<a href="/game/vg/{{_id}}"><img src="{{link}}" class="product-image"></a>');
                        {{/each}}
                    }
                    
                });
            </script>
            
        </div>
    </body>
</html>