<html>
    <head>
        <link rel="stylesheet" href="/reddeadps4.css">
        <script src="/jQuery.js"></script>
        <meta charset="UTF-8">
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    </head>
    
    <body>
        <div class="dashboard-container">
            <!--NAVBAR-->
            <div id="nav"></div>
            <script>
                $.get("/nav.html", function(data){
                    $("#nav").replaceWith(data).stop();
                });
            </script>
            <!--START-->
            <h1 id="game_title"> {{game.title}}</h1>         
            <div class="details-container">
                <div class="product-image-container">
                    <img class="product-image" src="{{game.link}}">
                </div>
                        
                <div class="product-container">
                    <div class="left_info">
                        <div class="details">
                            <span id="release-label"> Rating: </span>
                            <span id="release">{{game.rating}}</span>
                        </div>
                        <div class="details">
                            <span id="release-label"> Console: </span>
                            <span id="release">{{game.rating}}</span>
                        </div>
                        <div class="details">
                            <span id="release-label"> Genre: </span>
                            <span id="release">{{game.genre}}</span>
                        </div>
                        <div class="details">
                            <span id="release-label">Released</span>
                            <span id="release">{{game.release}}</span>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="post-container">
            {{#each posts}}
            <div class="fix" id="post-item">
                <h1 class="label_number"> {{@index}}</h1>
                <div class="indiv_listing">
                    <div class="details_lower">
                        <div class="details">
                            <span id="release-label"> Owner: </span>
                            <span id="release" name="user">{{user}}</span>
                        </div>
                        <div class="details">
                            <span id="release-label"> Region: </span>
                            <span id="release" name="region">{{region}}</span>
                        </div>
                        <div class="details">
                            <span id="release-label"> Condition: </span>
                            <span id="release">{{description}}</span>
                        </div>
                        <input type="hidden" value="{{game.title}}" name="title">
                        <input type="hidden" value="{{game.release}}" name="release">
                    </div>
                    <div class="details_lower">
                        <div class="fix">
                            <div id="release-label">Status:</div>
                            <div class="important_info" id="release" name="status">{{status}}</div>
                        </div>
                        <div class="fix">
                            <div id="release-label">Price:</div>
                            <div class="important_info" id="release" name="price">{{price}}</div>
                        </div>
                    </div>
                    <form class="details_lower" action="/cart/add-to-cart" method="POST">
                        <div class="fix">   
                            <input type="number" class="input_number" placeholder="3" name="duration">  
                            <p class="days_display"> Days</p>
                        </div>
                        <button class="rent_button" type="submit">ADD TO CART</button>
                        <input type="hidden" value="{{_id}}" name="postingID">
                        <input type="hidden" value="{{game._id}}" name="gameID">
                        {{!-- <a href="/post/available">    
                            <div class="rent_button">Available for Rent</div>
                        </a> --}}  
                    </form>
                </div>
            </div>
            {{/each}}
        </div>
        <script>
            $(document).ready(function(){
                if(!$('#post-item').length){
                    $('.post-container').append('<div class="empty-label">No listings available.</div>')
                }
            })
        </script>
    </body>
</html>